<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb00.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb03.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb04.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bomb05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sample_texturepacker.png</string>
            <key>size</key>
            <string>{170,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9d69d8213646cf15fe8fb61b474f772:5a1f10c5d9041364bed8af14abf4c1e3:c69da0dac60cb85dff4199ef5720f16b$</string>
            <key>textureFileName</key>
            <string>sample_texturepacker.png</string>
        </dict>
    </dict>
</plist>
